body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.head {
  background: rgba(182, 21, 21, 0.367);
  border: 1px solid black;
  border-radius: 5px;
}
.btnn {
  background-color: rgb(46, 82, 213);
  color: white;
  border: 1px solid black;
}
.btnn:hover {
  background-color: blue;
  color: white;
}
.item:last-child {
  margin-bottom: 3rem;
}
